# The path of the `duckdb-wasm` project
# If the value of this config is a relative path, it is relative to this file
#
# For example:
# rsync_src="../duckdb-wasm"
# rsync_src="${HOME}/Projects/duckdb-wasm"
# rsync_src="gcp-build-machine:Projects/duckdb-wasm"
rsync_src=

# Extra options for rsync
# You can find available options from the man page:
# The "Options Summary" section in https://linux.die.net/man/1/rsync
#
# An useful example for syncing from a remote MacOS machine that has
# rsync installed from Homebrew:
# rsync_opts=( --iconv=utf-8 --rsync-path=/opt/homebrew/bin );
rsync_opts=()
